#calendar {
    width: 80%;
    max-width: 900px;
    height: 550px;
    margin: 20px auto 0 150px;
  }
  
/* Canvi de color de les aules que estan desmarcades*/
  .visible {
    color: #ffffff;
    background-color: #2c3e50;
    border: 1px solid #1a252f;
  }

/* Si el text de l'event es massa llarg, es talla i es posa ... */
  .fc-daygrid-event .fc-event-main {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }
