#calendar {
    width: 90%;
    max-width: 900px;
    height: 550px;
    margin: 20px auto 0 120px;
  }
  

  .visible {
    color: #ffffff;
    background-color: #2c3e50;
    border: 1px solid #1a252f;
  }


  .fc-daygrid-event .fc-event-main {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }

  .fc .fc-col-header-cell a {
    text-decoration: none !important;
    color: #000 !important;
    pointer-events: none;
    cursor: default;
    text-transform: uppercase;
  }

  .fc .fc-daygrid-day-number {
    text-decoration: none !important;
    color: #000 !important;
    pointer-events: none;
    cursor: default;
  }


.fc-daygrid-event .fc-event-time {
  display: none;
}


.fc-timegrid-event .fc-event-time {
  display: none !important;
}