.navbar {
    padding: 0.5rem 1rem;
  }
  
  .navbar-brand img {
    height: 50px;
  }

.sidebar-lila {
    background-color: #444466;
    color: #ffffff;
    width: 100px;
    min-height: 89vh;
  }
  
  .sidebar-lila .nav-link {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .sidebar-lila .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .nav-link.text-white:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

