.date-row .col-md-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2.2rem;
}

.date-row .remove-date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}